<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular Test</title>
  <link rel="stylesheet" type="text/css" href="frameworks/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="frameworks/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">

  <div ng-repeat="product in store.products" ng-hide="store.product.soldOut">
    <section>
      <h1>{{product.name}}</h1>
      <h2>{{product.price | currency}}</h2>
      <ul>
        <li ng-repeat="image in product.images">
          <img ng-src="{{image}}" />
        </li>
      </ul>
      <button ng-show="product.canPurchase"> Add to Cart </button>
    </section>

    <section class="tab" ng-controller="TabController as tab">
      <ul class="nav nav-pills">
        <li ng-class="{ active: tab.isSet(1)}">
          <a href ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active: tab.isSet(2)}">
          <a href ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li ng-class="{ active: tab.isSet(3)}">
          <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
      </ul>
      <product-description ng-show="tab.isSet(1)"></product-description>
      <div product-specs ng-show="tab.isSet(2)" >
      </div>
      <div ng-show="tab.isSet(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
          <b>Stars: {{review.stars}}</b>
          {{review.body}}
          <cite>by: {{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>

        <!-- Review Form -->
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

          <!-- Live Preview -->
          <blockquote>
            <strong>{{reviewCtrl.review.stars}} Stars</strong>
            {{reviewCtrl.review.body}}
            <cite>-{{reviewCtrl.review.author}}</cite>
          </blockquote>

          <!-- Review Form -->
          <h4>Submit a Review</h4>
          <fieldset>
            <select class="form-border" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
              <option value="">Rate the Product</option>
            </select>
          </fieldset>
          <fieldset>
            <textarea class="form-border" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
          </fieldset>
          <fieldset>
            <input class="form-border" ng-model="reviewCtrl.review.author" type="email" placeholder="scott@example.com" title="Email" required />
          </fieldset>
          <fieldset>
            <input type="submit" value="Submit Review" />
          </fieldset>
        </form>


      </div>
    </section>

  </div>
</body>
</html>
