<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular Test</title>
  <link rel="stylesheet" type="text/css" href="frameworks/bootstrap.min.css"/>
  <script type="text/javascript" src="frameworks/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">
  <div ng-repeat="product in store.products" ng-hide="store.product.soldOut">
    <h1>{{product.name}}</h1>
    <h2>{{product.price | currency}}</h2>
    <h2>{{product.description}}</h2>
    <ul>
      <li ng-repeat="image in product.images">
        <img ng-src="{{image}}" />
      </li>
    </ul>
    <button ng-show="product.canPurchase"> Add to Cart </button>
  </div>
</body>
</html>
