<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular Test</title>
  <link rel="stylesheet" type="text/css" href="frameworks/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="frameworks/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">

  <div ng-repeat="product in store.products" ng-hide="store.product.soldOut">
    <section>
      <h1>{{product.name}}</h1>
      <h2>{{product.price | currency}}</h2>
      <ul>
        <li ng-repeat="image in product.images">
          <img ng-src="{{image}}" />
        </li>
      </ul>
      <button ng-show="product.canPurchase"> Add to Cart </button>
    </section>

    <section class="tab" ng-controller="TabController as tab">
      <ul class="nav nav-pills">
        <li ng-class="{ active: tab.isSet(1)}">
          <a href ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active: tab.isSet(2)}">
          <a href ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li ng-class="{ active: tab.isSet(3)}">
          <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
      </ul>
      <div ng-show="tab.isSet(1)">
        <h4>Description</h4>
        <blockquote>{{product.description}}</blockquote>
      </div>
      <div ng-show="tab.isSet(2)">
        <h4>Specs</h4>
        <blockquote>Shine: {{product.shine}}</blockquote>
      </div>
      <div ng-show="tab.isSet(3)">
        <h4>Reviews</h4>
        <blockquote></blockquote>
      </div>
    </section>

  </div>
</body>
</html>
